
.App {
  font-family: 'Nunito Sans', sans-serif;
  margin: auto;
  width: 50%;
}

.myForm{
  width: 100%;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 20px;
}

.formField{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

.myButton{
  width: 100%;
  background-color: lightslategray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.myList{
  list-style: none;
  color: black;
  font-family: 'Syncopate', sans-serif;
  font-size: 16px;

}

.myListButton{
  display: inline-block;
  height: auto;
  width: auto;
  border-radius: 11px;
  border: 1px solid lightslategray;
  margin: 4px 4px;
}